@use './var' as v;
footer {
    height: 210px;
    background-color: v.$black-color;
    h1 {
        width: 138px;
        padding: 30px 0 20px 20px;
        font-family: Shrikhand, sans-serif;
        color: v.$white-color;
    }
    nav {
        color: v.$white-color;
        padding-left: 20px;
        li {
            padding-bottom: 10px;
            a {
                color: v.$white-color;
            }
            .lien1 {
                margin-left: 10px;
            }
            .lien2 {
                margin-left: 5px;
            } 
        }
        
    }
}
@media all and (min-width: 378px){
    footer {
        position: relative;
        height: 100px;
        h1 {
            position: absolute;
            left: 1250px;
            top: 35px;
            padding: 0 0 0px 10px;
        }
        nav {
            position: absolute;
            top: 50px;
            ul {
                display: flex;
                li {
                    padding-left: 70px;
                }
                .marginLeft {
                    margin-left: 400px;
                }
            }
        }
    }
}