$primaire-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$gray-color: #EAEAEA;
$dark-gray-color: #80808036;
$light-gray-color: #F7F7F7;
$white-color: white;
$light-purple: #F5EDFF;
$black-color: #353535;
$green-color: #008766;