@use 'var' as v;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Shrikhand&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
} 
a {
    text-decoration: none;
    color: black;
}
.container {
    width: 375px;
    margin: auto;
    position: relative;
}

    .check1 {
        font: var(--fa-font-regular);
        content: "\f058";
        color: #99E2D0;
        width: 20px;
        height: 20px;
        background: white;
    }
.arrow-left::before {
    font: var(--fa-font-solid);
    content: "\f060";
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: 50px;
    }
.utensils::before {
    font: var(--fa-font-solid);
    content: "\f2e7";
    }
.handshake-angle::before {
    font: var(--fa-font-solid);
    content: "\f4c4";
  }
@keyframes repas {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes anim-check {
    0% {
        right: -70px;
    }
    100% {
        right: 0;
    }
}
header {
    .logo {
        display: flex;
        justify-content: center;
        height: 63px;
        a {
            display: flex;
            align-items: center;
        }
    }
    h1 {
        font-family: Shrikhand, sans-serif;
        width: 162px;
    }
    .logo1 {
        margin-right: 100px;
    }
    .image {
        width: 375px;
        height: 275px;
        object-fit: cover;
    }
}
main {
    height: 1285px;
    background: v.$light-gray-color;
    position: absolute;
    top: 295px;
    border-radius: 40px 40px 0 0;
    width: 375px;
    .positionHeart {
        position: relative;
        .heart {
            position: absolute;
            bottom: 2px;
            right: -9px;
            font-size: 28px;
            &:hover i::after{
                opacity: 1;
                height: 100%;
            }   
        } 
    } 
    h1 {
        font-family: Shrikhand;
        font-size: 28px;
        font-style: italic;
        font-weight: 400;
        margin: 30px 0 30px 20px;
    }
    h2 {
        font-size: 18px;
    }
    
    .titre {
        margin: 20px;
        border-bottom: 4px solid v.$tertiary-color;
        width: 45px;
        padding-bottom: 10px;
       
    }
    .liste {
        background-color: v.$white-color;
        width: 340px;
        height: 70px;
        border-radius: 15px;
        margin: 20px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        animation: repas 1s;
        animation-fill-mode: both;
        display: flex;
        justify-content: space-between;
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: 150ms *
                $i;
            }
        }
        .liste-text {
            h2 {
                padding: 15px 0 5px 10px;
            }
            p {
                padding-left: 10px;
            }
        }
        .liste-PriceCheck {
            display: flex;
            align-items: center;
            .liste-PriceCheck__price {
                strong {
                    margin-right: 20px;
                }
            }
            .liste-PriceCheck__check {
                width: 70px;
                height: 70px;
                background: v.$tertiary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0 10px 10px 0;
                margin-right: -70px;
                [class*=check] {
                    color: #fff;
                    background: v.$tertiary-color;
                    font-size: 2em;
                }
                
            }
            &:hover .liste-PriceCheck__check {
                animation: anim-check .7s;
                margin-right: 0;
            }
        }
        
    }
    article {
        margin-top: 50px;
    }
    .ButtonCenter {
        display: flex;
        justify-content: center;
    }
    .Button {
        margin: 50px 0px;
        color: v.$white-color;
        background: linear-gradient(to left, v.$primaire-color, v.$secondary-color);
        border-radius: 25px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 50px;
        width: 218px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        transform: scale(1);
        transition-property: transform;
        transition-duration: 400ms;
        &:hover {
            transform: scale(1.15);
            opacity: 0.9;
        }
    }
}
.heightMain {
    height: 1385px;
}
footer {
    position: absolute;
    top: 1580px;
    height: 210px;
    background-color: v.$black-color;
    width: 375px;
    h1 {
        width: 138px;
        padding: 30px 0 20px 20px;
        color: v.$white-color;
        font-family: Shrikhand, sans-serif;
    }
    nav {
        color: v.$white-color;
        padding-left: 20px;
        li {
            padding-bottom: 10px;
            a {
                color: v.$white-color;
                
            }
            .lien1 {
                margin-left: 10px;
            }
            .lien2 {
                margin-left: 5px;
            }
        }
    }
}
.positionFooter {
    position: absolute;
    top: 1680px;
}
/*----------------------------media queries---------------------------------*/
@media all and (min-width: 378px){
    body {
        width: 100%;
        .container{
            width: 100%;
        }
    }
    header {
        position: relative;
        .arrow-left::before {
            position: absolute;
            left: 170px;
            top: 20px;
        }
        .image {
            width: 100%;
        }
    }
    .mainCenter {
        display: flex;
        justify-content: center;
    }
    main {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1450px;
        .positionHeart {
            .heart {
                bottom: 30px;
                right: -85px;   
            } 
        }
        
        article {
            width: 60%;
            .liste {
                width: auto;
                &:hover .liste-PriceCheck__check {
                    animation: anim-check .7s;
                    margin-right: 0;
                }               
            }
        }
    }
    .heightMain {
        height: 1505px;
    }
    footer {
        top: 1395px;
        position: relative;
        height: 100px;
        width: 100%;
        img {
            position: absolute;
            left: 1250px;
            top: 50px;
            padding: 0 0 0px 10px;
        }
        nav {
            position: absolute;
            top: 50px;
            ul {
                display: flex;
                li {
                    padding-left: 70px;
                }
                .marginLeft {
                    margin-left: 400px;
                }
            }
        }
    }
    .positionTop {
        top: 1460px;
    }
    .positionFooter {
        top: 1800px;
    }
}