@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Condensed:wght@300&display=swap');
$primaire-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$gray-color: #EAEAEA;
$dark-gray-color: #80808036;
$light-gray-color: #F7F7F7;
$white-color: white;
$light-purple: #F5EDFF;
$black-color: #353535;
$green-color: #008766;
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
} 
a {
    text-decoration: none;
    color: black;
}
.container {
    width: 375px;
    margin: auto;
}
header {
    .logo {
        display: flex;
        justify-content: center;
        height: 63px;
        a {
            display: flex;
            align-items: center;
        }
    }
    img {
        width: 162px;
    }
    form {
        display: flex;
        justify-content: center;
        background-color: $gray-color;
        height: 50px;
        box-shadow: inset 0 3px 3px $dark-gray-color;
        input {
            border: none;
            text-align: center;
            background-color: $gray-color;
            font-size: 16px;
            font-weight: bold;
            box-shadow: inset 0 3px 1px $dark-gray-color;
        }
    }
    .Texte {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        height: 320px;
        background-color: $light-gray-color;
        h1 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
        width: 300px;
        padding-left: 54px;
        }
        p {
            text-align: center;
            padding-right: 5px;
            font-size: 18px;
        }
    }
    .ButtonCenter {
        display: flex;
        justify-content: center;
    }
    .Button {
        margin: 50px 0px;
        color: $white-color;
        background: linear-gradient(to left, $primaire-color, $secondary-color);
        border-radius: 25px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 50px;
        width: 218px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
    .FonctionSize {
        height: 440px;
        h2 {
            padding: 50px 0 20px 20px;
        }
        ul {
            display: flex;
            flex-direction: column;
            li {
                color: black;
                background: $light-gray-color;
                border-radius: 15px;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                height: 70px;
                width: 320px;
                margin-left: 20px;
                padding-right: 55px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
            }
            p {
                position: relative;
                top: 48px;
                left: 10px;
                color: $white-color;
                background-color: $primaire-color;
                width: 25px;
                height: 25px;
                border: 2px solid $primaire-color;
                border-radius: 25px;
                margin: 0 30px 0 0;
                padding-left: 5px;
                padding-top: 2px;
            }
            li:hover {
                background-color: $light-purple;
            }
        }
    }
}
main {
    background-color: $light-gray-color;
    height: 1370px;
    h2 {
        padding: 60px 0 40px 20px;
    }
    article {
        width: 335px;
        height: 251px;
        border-radius: 15px;
        margin: 20px 20px 50px 20px;
        background-color: $white-color;
        position: relative;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        img {
            width: 335px;
            height: 180px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }
        h3 {
            margin: 5px 0 5px 15px;
        }
        p {
            margin: 0 0 0 15px;
        }
        i {
           
            font-size: 30px;
        }
        .heart {
            position: absolute;
            bottom: 20px;
            right: 0;
            &:hover i::after{
                opacity: 1;
                height: 100%;
            }   
        }
        .new {
            position: absolute;
            width: 80px;
            height: 29px;
            background-color: $tertiary-color;
            color: $green-color;
            left: 235px;
            top: 35px;
            text-align: center;
            display: grid;
            place-items: center;
        }
    }
}
footer {
    height: 197px;
    background-color: $black-color;
    img{
        width: 138px;
        padding: 30px 0 20px 20px;
    }
    nav {
        color: $white-color;
        padding-left: 20px;
        li {
            padding-bottom: 10px;
            a {
                color: $white-color;
            }
            .lien1 {
                margin-left: 10px;
            }
            .lien2 {
                margin-left: 5px;
            } 
        }
        
    }
}
/*-------------------Media queries------------------------*/
@media all and (min-width: 378px){
    body {
        width: 100%;
        .container{
            width: 100%;
        }
    }
    header {
        .Texte {
            height: 275px;
            h1 {
                width: auto;
                padding-left: 0;
            }
        }
        .FonctionSize {
            height: 262px;
            h2 {
                padding-left: 205px;
            }
            nav {
                display: flex;
                justify-content: center;
                ul {
                    display: flex;
                    flex-direction: row;
                    p {
                        position: relative;
                        top: 24px;
                        left: 62px;
                    }
                }
            }
        }
    }
    main {
        height: 550px;
        h2 {
            padding-left: 220px;
        }
        .flexRow {
            display: flex;
            padding-left: 200px;
        }
    }
    footer {
        position: relative;
        height: 100px;
        img {
            position: absolute;
            left: 1250px;
            top: 50px;
            padding: 0 0 0px 10px;
        }
        nav {
            position: absolute;
            top: 50px;
            ul {
                display: flex;
                li {
                    padding-left: 70px;
                }
                .marginLeft {
                    margin-left: 400px;
                }
            }
        }
    }
}
