@use 'var' as v;
@use './base';
@use './header';
@use './animation';
@use './mixin' as m;
@use './footer';
.loader {
   @include m.loader;
}
.chargeur {
   @include m.chargeur;
}
main {
    .presentation {
        form {
            display: flex;
            justify-content: center;
            background-color: v.$gray-color;
            height: 50px;
            box-shadow: inset 0 3px 3px v.$dark-gray-color;
            input {
                border: none;
                text-align: center;
                background-color: v.$gray-color;
                font-size: 16px;
                font-weight: bold;
                box-shadow: inset 0 3px 1px v.$dark-gray-color;
            }
        }
        .titre-principal {
            display: flex;
            flex-direction: column;
            padding-top: 50px;
            height: 320px;
            background-color: v.$light-gray-color;
            h2 {
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
            width: 300px;
            padding-left: 54px;
            }
            p {
                text-align: center;
                padding-right: 5px;
                font-size: 18px;
            }
        }
        .button-center {
            @include m.button-flex;
        }
        .button {
            @include m.button; 
        }
        .fonctionnement-size {
            height: 440px;
            h3 {
                padding: 50px 0 20px 20px;
            }
            ul {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                li {
                    color: black;
                    background: v.$light-gray-color;
                    border-radius: 15px;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    height: 70px;
                    width: 320px;
                    margin: 20px;
                    padding-right: 55px;
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
                    &:hover {
                        background-color: v.$light-purple;
                    }
                }
                .margin {
                    margin-right: -56px;
                    margin-left: -26px;
                }
                span {
                    @include m.number;
                }
                .number2 {
                    @include m.number;
                    right: 85px;
                }
                .number3 {
                    @include m.number;
                    right: 83px;
                }
                i {
                    color: #3a3636ab;

                }
                li:hover i {
                    color: v.$primaire-color;
                } 
            }
        }
    }
    .restaurants {
        background-color: v.$light-gray-color;
        height: 1370px;
        h3 {
            padding: 60px 0 40px 20px;
        }
        article {
            width: 335px;
            height: 251px;
            border-radius: 15px;
            margin: 20px 20px 50px 20px;
            background-color: v.$white-color;
            position: relative;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                
            img {
                width: 335px;
                height: 180px;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            }
            h4 {
                margin: 5px 0 5px 15px;
            }
            p {
                margin: 0 0 0 15px;
            }
            i {
               
                font-size: 30px;
            }
            .heart {
                position: absolute;
                bottom: 20px;
                right: 0;
                &:hover i::after{
                    opacity: 1;
                    height: 100%;
                    cursor: pointer;
                }
            }   
            .new {
                position: absolute;
                width: 80px;
                height: 29px;
                background-color: v.$tertiary-color;
                color: v.$green-color;
                left: 235px;
                top: 24px;
                text-align: center;
                display: grid;
                place-items: center;
            }
        }
    }
}

@media all and (min-width: 378px){
    main {
        .presentation {
            .titre-principal {
                height: 275px;
                h2 {
                    width: auto;
                    padding-left: 0;
                }
            }
            .fonctionnement-size {
                height: 262px;
                margin-left: 21%;
                nav {
                    ul {
                        display: flex;
                        flex-direction: row;
                        position: absolute;
                        .store::before {
                            right: 250px;
                        }
                        .list-ul::before {
                            left: 395px;
                        }
                        .store::before {
                            left: 760px;
                        }
                    }
                }
            }
        }
        .restaurants {
            height: 550px;
            h3 {
                margin-left: 10%;
            }
            .flexRow {
                display: flex;
                margin-left: 10%;
            }
        }
    }
    
}
