@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 767px;
  margin: auto;
}

@media all and (min-width: 768px) {
  body {
    width: 100%;
  }
  body .container {
    max-width: none;
  }
}
header .logo {
  display: flex;
  justify-content: center;
  height: 63px;
}
header .logo a {
  display: flex;
  align-items: center;
}
header h1 {
  font-family: Shrikhand, sans-serif;
  width: 162px;
}
header .logo1 {
  margin-right: 100px;
}

@media all and (min-width: 768px) {
  header {
    position: relative;
  }
  header .arrow-left::before {
    position: absolute;
    left: 170px;
    top: 20px;
  }
}
footer {
  height: 210px;
  background-color: #353535;
}
footer h1 {
  width: 138px;
  padding: 20px 0 15px 20px;
  font-family: Shrikhand, sans-serif;
  color: white;
}
footer nav {
  color: white;
  padding-left: 20px;
}
footer nav li {
  padding-bottom: 7px;
}
footer nav li a {
  color: white;
}

@media all and (min-width: 768px) {
  footer {
    position: relative;
    height: 100px;
  }
  footer h1 {
    position: absolute;
    left: 760px;
    top: 35px;
    padding: 0 0 0px 10px;
  }
  footer nav {
    position: absolute;
    top: 50px;
  }
  footer nav ul {
    display: flex;
  }
  footer nav ul li {
    padding-right: 70px;
  }
}
@media all and (min-width: 1025px) {
  footer {
    position: relative;
    height: 100px;
  }
  footer h1 {
    position: absolute;
    left: 1250px;
    top: 35px;
    padding: 0 0 0px 10px;
  }
  footer nav {
    position: absolute;
    top: 50px;
  }
  footer nav ul {
    display: flex;
  }
  footer nav ul li {
    padding-left: 70px;
  }
  footer nav ul .marginLeft {
    margin-left: 200px;
  }
}
@keyframes repas {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0);
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes check-rotate {
  0% {
    transform: rotate(-370deg);
  }
  100% {
    transform: rotate(0);
  }
}
main img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
main section {
  background: #F7F7F7;
  border-radius: 40px 40px 0 0;
  width: 100%;
  position: relative;
  top: -70px;
  margin-bottom: -80px;
}
main .positionHeart {
  position: relative;
}
main .positionHeart .heart {
  position: absolute;
  bottom: 2px;
  right: -9px;
  font-size: 28px;
  cursor: pointer;
}
main .positionHeart .heart:hover i::after {
  opacity: 1;
  height: 100%;
}
main h2 {
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  margin: 30px 0 30px 20px;
}
main h3 {
  font-size: 18px;
}
main .titre {
  margin: 20px;
  border-bottom: 4px solid #99E2D0;
  width: 45px;
  padding-bottom: 10px;
}
main .liste-entrees:nth-child(2) {
  animation-delay: 300ms;
}
main .liste-entrees:nth-child(3) {
  animation-delay: 450ms;
}
main .liste-entrees:nth-child(4) {
  animation-delay: 600ms;
}
main .liste-entrees:nth-child(5) {
  animation-delay: 750ms;
}
main .liste-plat:nth-child(2) {
  animation-delay: 1400ms;
}
main .liste-plat:nth-child(3) {
  animation-delay: 2100ms;
}
main .liste-plat:nth-child(4) {
  animation-delay: 2800ms;
}
main .liste-plat:nth-child(5) {
  animation-delay: 3500ms;
}
main .liste-dessert:nth-child(2) {
  animation-delay: 2400ms;
}
main .liste-dessert:nth-child(3) {
  animation-delay: 3600ms;
}
main .liste-dessert:nth-child(4) {
  animation-delay: 4800ms;
}
main .liste-dessert:nth-child(5) {
  animation-delay: 6000ms;
}
main .liste-entrees, main .liste-plat, main .liste-dessert {
  background-color: white;
  width: 91%;
  height: 70px;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: repas 6s;
  animation-fill-mode: both;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
main .liste-entrees .liste-text, main .liste-plat .liste-text, main .liste-dessert .liste-text {
  width: 100%;
}
main .liste-entrees .liste-text:hover, main .liste-plat .liste-text:hover, main .liste-dessert .liste-text:hover {
  width: calc(100% - 140px);
}
main .liste-entrees .liste-text h3, main .liste-plat .liste-text h3, main .liste-dessert .liste-text h3 {
  padding: 15px 0 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
main .liste-entrees .liste-text p, main .liste-plat .liste-text p, main .liste-dessert .liste-text p {
  padding: 0px 0 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
main .liste-entrees .liste-PriceCheck, main .liste-plat .liste-PriceCheck, main .liste-dessert .liste-PriceCheck {
  display: flex;
  align-items: center;
}
main .liste-entrees .liste-PriceCheck .liste-PriceCheck__price strong, main .liste-plat .liste-PriceCheck .liste-PriceCheck__price strong, main .liste-dessert .liste-PriceCheck .liste-PriceCheck__price strong {
  margin-right: 10px;
}
main .liste-entrees .liste-PriceCheck .liste-PriceCheck__check, main .liste-plat .liste-PriceCheck .liste-PriceCheck__check, main .liste-dessert .liste-PriceCheck .liste-PriceCheck__check {
  width: 70px;
  height: 70px;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
  margin-right: -70px;
  transition: all 1s;
}
main .liste-entrees .liste-PriceCheck .liste-PriceCheck__check [class*=check], main .liste-plat .liste-PriceCheck .liste-PriceCheck__check [class*=check], main .liste-dessert .liste-PriceCheck .liste-PriceCheck__check [class*=check] {
  color: #fff;
  background: #99E2D0;
  font-size: 2em;
}
main .liste-entrees:hover .liste-PriceCheck__check, main .liste-plat:hover .liste-PriceCheck__check, main .liste-dessert:hover .liste-PriceCheck__check {
  margin-right: 0;
}
main .liste-entrees:hover .liste-PriceCheck__check [class*=check], main .liste-plat:hover .liste-PriceCheck__check [class*=check], main .liste-dessert:hover .liste-PriceCheck__check [class*=check] {
  animation: check-rotate 0.9s;
}
main article {
  margin-top: 50px;
}
main .ButtonCenter {
  display: flex;
  justify-content: center;
}
main .Button {
  margin: 50px 0px;
  color: white;
  background: linear-gradient(to left, #9356DC, #FF79DA);
  border-radius: 25px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 50px;
  width: 218px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
main .Button:hover {
  box-shadow: 2px 3px 10px 9px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
}

footer {
  height: 220px;
  background-color: #353535;
  width: 100%;
}

@media all and (min-width: 768px) {
  main img {
    width: 100%;
  }
  main section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .sectionCenter {
    display: flex;
    justify-content: center;
  }
  main .positionHeart .heart {
    bottom: 30px;
    right: -85px;
  }
  main article {
    width: 60%;
  }
  main article .liste {
    width: auto;
  }
  main article .liste .liste-text h3, main article .liste .liste-text p {
    width: auto;
  }
  main article .liste:hover .liste-PriceCheck__check {
    margin-right: 0;
  }
  .heightMain {
    height: 1505px;
  }
}
@media all and (min-width: 768px) {
  footer {
    height: 100px;
    width: 100%;
  }
}

/*# sourceMappingURL=restaurants.css.map */
