.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.money::before {
    font: var(--fa-font-solid);
    content: "\f53a";
    color: var(--blue-color);
       
}
.person::before {
    font: var(--fa-font-solid);
    content: "\f183";
    color: var(--blue-color);
       
}
.heart i::after {
    font: var(--fa-font-solid);
    content: "\f004";
    color: transparent;
    background-image: linear-gradient(to left, #9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 30px;
    opacity: 0;
    height: 0%;
    transition: all .5s;
    position: relative;
    right: 28px;
}
.dog::before {
    font: var(--fa-font-solid);
    content: "\f6d3";
    color: var(--blue-color);
       
}
.info::before {
    font: var(--fa-font-solid);
    content: "\f129";
    color: var(--blue-color);  
}
.star::before {
    font: var(--fa-font-solid);
    content: "\f005";
    color: var(--blue-color);
    width: 12px;
    height: 12px;
}
.starGrey::before {
    font: var(--fa-font-solid);
    content: "\f005";
    color: var(--grey-color);
}
.chart::after {
    font: var(--fa-font-solid);
    content: "\f201";
    color: var(--blue-color);
    margin-right: 20px;
}
.Emplacement::before {
    font: var(--fa-font-solid);
    content: "\f3c5";
    display: flex;
    align-items: center;   
}
.utensils::before {
    font: var(--fa-font-solid);
    content: "\f2e7";
}
.handshake-angle::before {
    font: var(--fa-font-solid);
    content: "\f4c4";
}
.mobile-screen-button::before {
    font: var(--fa-font-solid);
    content: "\f3cd";
    margin: 20px;
    color: #3a3636ab;
}
.list-ul::before {
    font: var(--fa-font-solid);
    content: "\f0ca";
    margin: 30px;
    color: #3a3636ab;
}
.store::before {
    font: var(--fa-font-solid);
    content: "\f54e";
    margin: 20px;
    color: #3a3636ab;
}
.arrow-left::before {
    font: var(--fa-font-solid);
    content: "\f060";
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: 50px;
    }
.utensils::before {
    font: var(--fa-font-solid);
    content: "\f2e7";
    }
.handshake-angle::before {
    font: var(--fa-font-solid);
    content: "\f4c4";
  }
.check1 {
    font: var(--fa-font-regular);
    content: "\f058";
    color: #99E2D0;
    width: 20px;
    height: 20px;
    background: white;
}
