@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Condensed:wght@300&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 375px;
  margin: auto;
}

.loader {
  background-color: white;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: loader 2s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-delay: 3s;
}

.chargeur {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 3s linear;
  animation: chargeur 3s linear;
}

@-webkit-keyframes chargeur {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
  }
}
@keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(1080deg) scale(0);
  }
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(0deg);
  }
  100% {
    -webkit-transform: scale(1080deg);
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
header .logo {
  display: flex;
  justify-content: center;
  height: 63px;
}
header .logo a {
  display: flex;
  align-items: center;
}
header h1 {
  font-family: Shrikhand, sans-serif;
  width: 162px;
}
header form {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  height: 50px;
  box-shadow: inset 0 3px 3px rgba(128, 128, 128, 0.2117647059);
}
header form input {
  border: none;
  text-align: center;
  background-color: #EAEAEA;
  font-size: 16px;
  font-weight: bold;
  box-shadow: inset 0 3px 1px rgba(128, 128, 128, 0.2117647059);
}
header .Texte {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  height: 320px;
  background-color: #F7F7F7;
}
header .Texte h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  width: 300px;
  padding-left: 54px;
}
header .Texte p {
  text-align: center;
  padding-right: 5px;
  font-size: 18px;
}
header .ButtonCenter {
  display: flex;
  justify-content: center;
}
header .Button {
  margin: 50px 0px;
  color: white;
  background: linear-gradient(to left, #9356DC, #FF79DA);
  border-radius: 25px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 50px;
  width: 218px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}
header .Button:hover {
  transform: scale(1.15);
  opacity: 0.9;
}
header .FonctionSize {
  height: 440px;
}
header .FonctionSize h2 {
  padding: 50px 0 20px 20px;
}
header .FonctionSize ul {
  display: flex;
  flex-direction: column;
}
header .FonctionSize ul li {
  color: black;
  background: #F7F7F7;
  border-radius: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 70px;
  width: 320px;
  margin-left: 20px;
  padding-right: 55px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
header .FonctionSize ul p {
  position: relative;
  top: 48px;
  left: 10px;
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border: 2px solid #9356DC;
  border-radius: 25px;
  margin: 0 30px 0 0;
  padding-left: 5px;
  padding-top: 2px;
}
header .FonctionSize ul li:hover {
  background-color: #F5EDFF;
}

main {
  background-color: #F7F7F7;
  height: 1370px;
}
main h2 {
  padding: 60px 0 40px 20px;
}
main article {
  width: 335px;
  height: 251px;
  border-radius: 15px;
  margin: 20px 20px 50px 20px;
  background-color: white;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
main article img {
  width: 335px;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
main article h3 {
  margin: 5px 0 5px 15px;
}
main article p {
  margin: 0 0 0 15px;
}
main article i {
  font-size: 30px;
}
main article .heart {
  position: absolute;
  bottom: 20px;
  right: 0;
}
main article .heart:hover i::after {
  opacity: 1;
  height: 100%;
}
main article .new {
  position: absolute;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  left: 235px;
  top: 35px;
  text-align: center;
  display: grid;
  place-items: center;
}

footer {
  height: 210px;
  background-color: #353535;
}
footer h1 {
  width: 138px;
  padding: 30px 0 20px 20px;
  font-family: Shrikhand, sans-serif;
  color: white;
}
footer nav {
  color: white;
  padding-left: 20px;
}
footer nav li {
  padding-bottom: 10px;
}
footer nav li a {
  color: white;
}
footer nav li .lien1 {
  margin-left: 10px;
}
footer nav li .lien2 {
  margin-left: 5px;
}

/*-------------------Media queries------------------------*/
@media all and (min-width: 378px) {
  body {
    width: 100%;
  }
  body .container {
    width: 100%;
  }
  header .Texte {
    height: 275px;
  }
  header .Texte h1 {
    width: auto;
    padding-left: 0;
  }
  header .FonctionSize {
    height: 262px;
  }
  header .FonctionSize h2 {
    padding-left: 205px;
  }
  header .FonctionSize nav {
    display: flex;
    justify-content: center;
  }
  header .FonctionSize nav ul {
    display: flex;
    flex-direction: row;
  }
  header .FonctionSize nav ul p {
    position: relative;
    top: 24px;
    left: 62px;
  }
  main {
    height: 550px;
  }
  main h2 {
    padding-left: 220px;
  }
  main .flexRow {
    display: flex;
    padding-left: 200px;
  }
  footer {
    position: relative;
    height: 100px;
  }
  footer h1 {
    position: absolute;
    left: 1250px;
    top: 35px;
    padding: 0 0 0px 10px;
  }
  footer nav {
    position: absolute;
    top: 50px;
  }
  footer nav ul {
    display: flex;
  }
  footer nav ul li {
    padding-left: 70px;
  }
  footer nav ul .marginLeft {
    margin-left: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
