@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 375px;
  margin: auto;
  position: relative;
}

.heart::after {
  font: var(--fa-font-regular);
  content: "\f004";
  color: black;
  margin-left: 30px;
}

.heart1::after {
  font: var(--fa-font-regular);
  content: "\f004";
  color: black;
  margin-left: 85px;
}

.arrow-left::before {
  font: var(--fa-font-solid);
  content: "\f060";
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-right: 85px;
}

.utensils::before {
  font: var(--fa-font-solid);
  content: "\f2e7";
}

.handshake-angle::before {
  font: var(--fa-font-solid);
  content: "\f4c4";
}

header .logo {
  display: flex;
  justify-content: center;
  height: 63px;
  margin-right: 80px;
}
header .logo a {
  display: flex;
  align-items: center;
}
header .logo1 {
  width: 162px;
}
header .image {
  width: 375px;
  height: 275px;
  object-fit: cover;
}

main {
  height: 1285px;
  background: #F7F7F7;
  position: absolute;
  top: 295px;
  border-radius: 40px 40px 0 0;
  width: 375px;
}
main h1 {
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  margin: 30px 0 30px 20px;
}
main h2 {
  font-size: 18px;
}
main .titre {
  margin: 20px;
  border-bottom: 4px solid #99E2D0;
  width: 45px;
  padding-bottom: 10px;
}
main .liste {
  background-color: white;
  width: 340px;
  height: 70px;
  border-radius: 15px;
  margin: 20px;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
main .liste strong {
  position: absolute;
  bottom: 25px;
  left: 295px;
}
main .liste h2 {
  padding: 15px 0 5px 10px;
}
main .liste p {
  padding-left: 10px;
}
main article {
  margin-top: 50px;
}
main .ButtonCenter {
  display: flex;
  justify-content: center;
}
main .Button {
  margin: 50px 0px;
  color: white;
  background: linear-gradient(to left, #9356DC, #FF79DA);
  border-radius: 25px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 50px;
  width: 218px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.heightMain {
  height: 1385px;
}

footer {
  position: absolute;
  top: 1580px;
  height: 197px;
  background-color: #353535;
  width: 375px;
}
footer img {
  width: 138px;
  padding: 30px 0 20px 20px;
  color: white;
}
footer nav {
  color: white;
  padding-left: 20px;
}
footer nav li {
  padding-bottom: 10px;
}
footer nav li a {
  color: white;
}
footer nav li .lien1 {
  margin-left: 10px;
}
footer nav li .lien2 {
  margin-left: 5px;
}

.positionFooter {
  position: absolute;
  top: 1680px;
}

/*----------------------------media queries---------------------------------*/
@media all and (min-width: 378px) {
  body {
    width: 100%;
  }
  body .container {
    width: 100%;
  }
  header {
    position: relative;
  }
  header .arrow-left::before {
    position: absolute;
    left: 170px;
    top: 20px;
  }
  header .image {
    width: 100%;
  }
  .mainCenter {
    display: flex;
    justify-content: center;
  }
  main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1450px;
  }
  main article {
    width: 60%;
  }
  main article .liste {
    width: auto;
  }
  main article .liste strong {
    left: 90%;
  }
  .heightMain {
    height: 1505px;
  }
  footer {
    top: 1395px;
    position: relative;
    height: 100px;
    width: 100%;
  }
  footer img {
    position: absolute;
    left: 1250px;
    top: 50px;
    padding: 0 0 0px 10px;
  }
  footer nav {
    position: absolute;
    top: 50px;
  }
  footer nav ul {
    display: flex;
  }
  footer nav ul li {
    padding-left: 70px;
  }
  footer nav ul .marginLeft {
    margin-left: 400px;
  }
  .positionTop {
    top: 1460px;
  }
  .positionFooter {
    top: 1800px;
  }
}

/*# sourceMappingURL=style1.css.map */
